In [2]:
import pandas as pd
df=pd.read_csv("nba-2.csv")
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [4]:
gk=df.groupby('Team')
gk.first

In [5]:
gk.get_group('Boston Celtics')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0
13,James Young,Boston Celtics,13,SG,20,6-Jun,215,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0

In [6]:
#use groupby()function to form groups based on more han one category(use more than one column to perform splitting)
import pandas as pd
df=pd.read_csv("nba-2.csv")
gkk=df.groupby(['Team','Position'])
gkk.first()

                                         Name  Number  Age  Height  Weight  \
Team               Position
Atlanta Hawks      C               Al Horford      15   30  10-Jun     245
                   PF          Kris Humphries      43   31   9-Jun     235
                   PG         Dennis Schroder      17   22   1-Jun     172
                   SF           Kent Bazemore      24   26   5-Jun     201
                   SG        Tim Hardaway Jr.      10   24   6-Jun     205
...                                       ...     ...  ...     ...     ...
Washington Wizards C            Marcin Gortat      13   32  11-Jun     240
                   PF             Drew Gooden      90   34  10-Jun     250
                   PG          Ramon Sessions       7   30   3-Jun     190
                   SF            Jared Dudley       1   30   7-Jun     225
                   SG           Alan Anderson       6   33   6-Jun     220

                                          College      Salary
Team               Position
Atlanta Hawks      C                      Florida  12000000.0
                   PF                   Minnesota   1000000.0
                   PG                 Wake Forest   1763400.0
                   SF                Old Dominion   2000000.0
                   SG                    Michigan   1304520.0
...                                           ...         ...
Washington Wizards C         North Carolina State  11217391.0
                   PF                      Kansas   3300000.0
                   PG                      Nevada   2170465.0
                   SF              Boston College   4375000.0
                   SG              Michigan State   4000000.0

[149 rows x 7 columns]

In [7]:
import pandas as pd
df=pd.read_csv("nba-2.csv")
gkk=df.groupby(['Age','College'])
gkk.first()

                               Name                    Team  Number Position  \
Age College
19  Kentucky           Devin Booker            Phoenix Suns       1       SG
    UNLV              Rashad Vaughn         Milwaukee Bucks      20       SG
20  Arizona         Stanley Johnson         Detroit Pistons       3       SF
    Duke              Jahlil Okafor      Philadelphia 76ers       8        C
    Indiana             Noah Vonleh  Portland Trail Blazers      21       PF
...                             ...                     ...     ...      ...
38  Kansas              Paul Pierce    Los Angeles Clippers      34       SF
    Kentucky          Nazr Mohammed   Oklahoma City Thunder      13        C
39  North Carolina     Vince Carter       Memphis Grizzlies      15       SG
40  Utah               Andre Miller       San Antonio Spurs      24       PG
    Wake Forest          Tim Duncan       San Antonio Spurs      21        C

                    Height  Weight     Salary
Age College
19  Kentucky         6-Jun     206  2127840.0
    UNLV             6-Jun     202  1733040.0
20  Arizona          7-Jun     245  2841960.0
    Duke            11-Jun     275  4582680.0
    Indiana          9-Jun     240  2637720.0
...                    ...     ...        ...
38  Kansas           7-Jun     235  3376000.0
    Kentucky        10-Jun     250   222888.0
39  North Carolina   6-Jun     220  4088019.0
40  Utah             3-Jun     200   250750.0
    Wake Forest     11-Jun     250  5250000.0

[309 rows x 7 columns]